.checkoutmain{
    padding-top: 100px;
    padding-bottom: 400px;
}

.fdhomemain{
    padding-bottom: 350px;
    height: 100%;
}
.SignIn {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    border: solid 6px rgb(71, 71, 71);
    width: 350px;
    margin: auto;
    font-family: "Lucida Bright", Times, serif;
    background-color: lightgrey;
    color: rgb(105, 38, 38);
    position: absolute;
    top:  48.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 7px;
    box-shadow: 2px 2px 2px black;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
}


.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.ebutton {
    border: solid 3px maroon;
    padding: 4px;
    background-color: #5e5e5e;
    margin: 50px;
    border-radius: 7px;
}

.intro {
    overflow: auto;
    text-align: center;
}

.pic{
    box-shadow: 5px 5px 5px grey;
    border-radius: 7px;
}

html{
    background-color: #5e5e5e;
}
